# Credentials to connect to AWS
aws_access_key: ""
aws_secret_key: ""

# Deployment-related variables

## If set to true backend will be uploaded and stored at S3 bucket, so you can easily manage your deployment from any machine. It is highly recommended to do not change this variable
backend: true
## If this is set to true along with backend variable, this config file will be saved to s3 bucket. Please, make sure to name it as all.yml. Otherwise, no upload will be performed
upload_config_to_s3: true

### The bucket and dynamodb_table variables will be used only when backend variable is set to true
### Name of the bucket where TF state files will be stored
bucket: "poa-terraform-state"

### Name of the DynamoDB table where current lease of TF state file will be stored
dynamodb_table: "poa-terraform-lock"

## If ec2_ssh_key_content is empty all the virtual machines will be created with ec2_ssh_key_name key. Otherwise, playbooks will upload ec2_ssh_key_content with the name of ec2_ssh_key_name and launch virtual machines with that key
ec2_ssh_key_name: "sokol-test"
ec2_ssh_key_content: ""

## EC2 Instance will have the following size:
instance_type: "m5.xlarge"

## VPC containing Blockscout resources will be created as following:
vpc_cidr: "10.0.0.0/16"
public_subnet_cidr: "10.0.0.0/24"
db_subnet_cidr: "10.0.1.0/24"

## Internal DNS zone will looks like:
dns_zone_name: "poa.internal"

## All resources will be prefixed with this one
prefix: "sokol"

## The following settings are related to the RDS instance which will be created during deployment 
db_id: "poa"
db_name: "poa"
db_username: "username"
db_password: "qwerty12345"
db_instance_class: "db.m4.xlarge"
db_storage: "120"
db_storage_type: "gp2"

## The following settngs are related to SSL of Application Load Balancer that will be deployed to AWS. If use_ssl is set to false, alb_* variables can be omitted
use_ssl: "false"
alb_ssl_policy: "ELBSecurityPolicy-2016-08"
alb_certificate_arn: "arn:aws:acm:us-east-1:290379793816:certificate/6d1bab74-fb46-4244-aab2-832bf519ab24"

# Region. It is recommended to deploy to us-east-1 as some of the other regions fails due to varied reasons
region: "us-east-1"

## Size of the EC2 instance EBS root volume
root_block_size: 120

## Number of connections allowed by EC2 instance
pool_size: 30

## Secret key of Explorer. Please, generate your own key here. For example, you can use the following command: openssl rand -base64 64 | tr -d '\n'
secret_key_base: "TPGMvGK0iIwlXBQuQDA5KRqk77VETbEBlG4gAWeb93TvBsYAjvoAvdODMd6ZeguPwf2YTRY3n7uvxXzQP4WayQ=="

## New Relic related configs. Usually you want this empty
new_relic_app_name: ""
new_relic_license_key: ""

# Network related variables
## The following set of chain_* variables has Terraform HCL syntax and should be filled accordingly. For example for core and sokol network you should fill this variables as follows:
## This variable represents network RPC endpoint: 
# chains = {
#    "core" = "http://10.10.10.10:8545",
#    "sokol" = "https://192.168.0.1:8545"
# }
## This variable represents network RPC endpoint in trace mode. Can be the same as the previous variable:
# chain_trace_endpoint = {
#    "core" = "http://10.10.10.11:8545",
#    "sokol" = "http://192.168.0.1:8546"
# }
## This variable represents network RPC endpoint in websocket mode:
# chain_ws_endpoint = {
#    "core" = "ws://10.10.10.10/ws",
#    "sokol" = "ws://192.168.0.1/ws"
# }
## Next variable represents the client that is used to connect to the chain.
# chain_jsonrpc_variant = {
#    "core" = "parity",
#    "sokol" = "geth"
# }
## Place your own logo at apps/block_scout_web/assets/static/images folder of blockscout repo and specify a relative path here
# chain_logo = {
#    "core" = "core.svg",
#    "sokol" = "sokol.svg"
# }
## The following variables represents a name of the coin that will be shown at blockchain explorer
# chain_coin = {
#   "core" = "POA",
#   "sokol" = "POA"
# }
## Next variable usually represents the name of the organization/community that hosts the chain
# chain_network = {
#    "core" = "POA Network",
#    "sokol" = "POA Network"
# }
## Next variable represents the actual name of the particular network
# chain_subnetwork = {
#    "core" = "POA Core Network",
#    "sokol" = "POA Sokol test network"
# }
## The next variable represent a relative URL path which will be used as an endpoint for defined chain. For example, if we will have our blockscout at blockscout.com domain and place "core" network at "/poa/core", then the resulting endpoint will be blockscout.com/poa/core for this network.
# chain_network_path = {
#    "core" = "/poa/core"
#    "sokol" = "/poa/sokol"
# }
## The following variable maps the chain name to the network navigation icon at apps/block_scout_web/lib/block_scout_web/templates/icons without .eex extension
# chain_network_icon = {
#    "core" = "_test_network_icon.html",
#    "sokol" = "_test_network_icon.html"
# }
networks: >
  chains = {
    "mychain" = "url/to/endpoint"
  }
  chain_trace_endpoint = {
    "mychain" = "url/to/debug/endpoint/or/the/main/chain/endpoint"
  }
  chain_ws_endpoint = {
    "mychain" = "url/to/websocket/endpoint"
  }
  chain_jsonrpc_variant = {
    "mychain" = "parity"
  }
  chain_logo = {
    "mychain" = "url/to/logo"
  }
  chain_coin = {
    "mychain" = "coin"
  }
  chain_network = {
    "mychain" = "network name"
  }
  chain_subnetwork = {
    "mychain" = "subnetwork name"
  }
  chain_network_path = {
    "mychain" = "path/to/root"
  }
  chain_network_icon = {
    "mychain" = "_test_network_icon.html"
  }
