# Common variables

## Credentials to connect to AWS
aws_access_key: ""
aws_secret_key: ""

## If set to true backend will be uploaded and stored at S3 bucket, so you can easily manage your deployment from any machine. It is highly recommended to do not change this variable
backend: true
## If this is set to true along with backend variable, this config file will be saved to s3 bucket. Please, make sure to name it as all.yml. Otherwise, no upload will be performed
upload_config_to_s3: true

## The bucket and dynamodb_table variables will be used only when backend variable is set to true
## Name of the bucket where TF state files will be stored
bucket: "poa-terraform-state"

## All resources will be prefixed with this one
prefix: "sokol"

## This variable represents network RPC endpoint: 
chains:
   core: "http://10.10.10.10:8545"
   sokol:  "https://192.168.0.1:8545"

## Region. It is recommended to deploy to us-east-1 as some of the other regions fails due to varied reasons
region: "us-east-1"