# BlockScout related variables

## An address of BlockScout repo to download
blockscout_repo: https://github.com/poanetwork/blockscout

# Please, specify the credentials for the test Postgres installation
ps_host: blockscout-test.hogehoge.us-east-1.rds.amazonaws.com
ps_user: postgres
ps_password: hugahuga

