region                = "{{ ansible_env.AWS_REGION }}"
prefix                = "{{ prefix }}"
key_name              = "{{ ec2_ssh_key_name }}"
key_content           = "{{ ec2_ssh_key_content }}"
vpc_cidr              = "{{ vpc_cidr }}"
public_subnet_cidr    = "{{ public_subnet_cidr  }}"
db_subnet_cidr        = "{{ db_subnet_cidr }}"
dns_zone_name         = "{{ dns_zone_name }}"
instance_type         = "{{ instance_type }}"
root_block_size       = "{{ root_block_size }}"
use_placement_group   = "{{ use_placement_group }}"
alb_ssl_policy        = "{{ alb_ssl_policy }}"
alb_certificate_arn   = "{{ alb_certificate_arn }}"
elixir_version        = "{{ elixir_version }}"

pool_size = {
{% for key, value in chain_custom_environment.iteritems() %}
{{ key }}={{ value['POOL_SIZE'] }}{% if not loop.last %},{% endif %}
{% endfor %}
}

secret_key_base = {
{% for key, value in chain_custom_environment.iteritems() %}
{{ key }}={{ value['SECRET_KEY_BASE'] }}{% if not loop.last %},{% endif %}
{% endfor %}
}

use_ssl = {
{% for key, value in chain_custom_environment.iteritems() %}
{{ key }}={{ value['ECTO_USE_SSL'] }}{% if not loop.last %},{% endif %}
{% endfor %}
}

chains = [
{% for key in chain_custom_environment.iteritems() %}
{{ key }}{% if not loop.last %},{% endif %}
{% endfor %}
]

chain_db_id = {
{% for key, value in chain_db_id.iteritems() %}
{{ key }} = "{{ value }}"{% if not loop.last %},{% endif %}
{% endfor %}
}

chain_db_name = {
{% for key, value in chain_db_name.iteritems() %}
{{ key }} = "{{ value }}"{% if not loop.last %},{% endif %}
{% endfor %}
}

chain_db_username = {
{% for key, value in chain_db_username.iteritems() %}
{{ key }} = "{{ value }}"{% if not loop.last %},{% endif %}
{% endfor %}
}

chain_db_password = {
{% for key, value in chain_db_password.iteritems() %}
{{ key }} = "{{ value }}"{% if not loop.last %},{% endif %}
{% endfor %}
}

chain_db_instance_class = {
{% for key, value in chain_db_instance_class.iteritems() %}
{{ key }} = "{{ value }}"{% if not loop.last %},{% endif %}
{% endfor %}
}

chain_db_storage = {
{% for key, value in chain_db_storage.iteritems() %}
{{ key }} = "{{ value }}"{% if not loop.last %},{% endif %}
{% endfor %}
}

chain_db_storage_type = {
{% for key, value in chain_db_storage_type.iteritems() %}
{{ key }} = "{{ value }}"{% if not loop.last %},{% endif %}
{% endfor %}
}

chain_db_iops = {
{% for key, value in db_iops.iteritems() %}
{{ key }} = "{{ value }}"{% if not loop.last %},{% endif %}
{% endfor %}
}

chain_db_version = {
{% for key, value in chain_db_version.iteritems() %}
{{ key }} = "{{ value }}"{% if not loop.last %},{% endif %}
{% endfor %}
}
