aws_profile        = "{{ aws_profile|default("default") if aws_access_key is not defined or aws_access_key='' else 'null' }}"
aws_access_key     = "{{ aws_access_key | default("null") }}"
aws_secret_key     = "{{ aws_secret_key | default("null") }}"
aws_region         = "{{ aws_region | default("us-east-1") }}"

prefix             = "{{ group_names[0] }}"
key_name           = "{{ ec2_ssh_key_name }}"
key_content        = "{{ ec2_ssh_key_content }}"
vpc_cidr           = "{{ vpc_cidr }}"
public_subnet_cidr = "{{ public_subnet_cidr  }}"
db_subnet_cidr     = "{{ db_subnet_cidr }}"
dns_zone_name      = "{{ dns_zone_name }}"
instance_type      = "{{ instance_type }}"
root_block_size    = "{{ root_block_size }}"

use_placement_group = {
{% for host in groups[group_names[0]] %}
{{ hostvars[host]['chain'] }}="{{ hostvars[host]['use_placement_group'] | default('false') }}"{% if not loop.last %},{% endif %}
{% endfor %}
}

pool_size = {
{% for host in groups[group_names[0]] %}
{{ hostvars[host]['chain'] }}="{{ hostvars[host]['env_vars']['POOL_SIZE'] | default('30') }}"{% if not loop.last %},{% endif %}
{% endfor %}
}

secret_key_base = {
{% for host in groups[group_names[0]] %}
{{ hostvars[host]['chain'] }}="{{ hostvars[host]['env_vars']['SECRET_KEY_BASE']|default('TPGMvGK0iIwlXBQuQDA5KRqk77VETbEBlG4gAWeb93TvBsYAjvoAvdODMd6ZeguPwf2YTRY3n7uvxXzQP4WayQ==') }}"{% if not loop.last %},{% endif %}
{% endfor %}
}

use_ssl = {
{% for host in groups[group_names[0]] %}
{{ hostvars[host]['chain'] }}="{{ hostvars[host]['env_vars']['ECTO_USE_SSL']|default('false') }}"{% if not loop.last %},{% endif %}
{% endfor %}
}


alb_ssl_policy = {
{% for host in groups[group_names[0]] %}
{{ hostvars[host]['chain'] }}="{{ hostvars[host]['env_vars']['ALB_SSL_POLICY']|default('') }}"{% if not loop.last %},{% endif %}
{% endfor %}
}

alb_certificate_arn = {
{% for host in groups[group_names[0]] %}
{{ hostvars[host]['chain'] }}="{{ hostvars[host]['env_vars']['ALB_CERTIFICATE_ARN']|default('') }}"{% if not loop.last %},{% endif %}
{% endfor %}
}

chains = [
{% for host in groups[group_names[0]] %}
"{{ hostvars[host]['chain'] }}"{% if not loop.last %},{% endif %}
{% endfor %}
]

chain_db_id = {
{% for host in groups[group_names[0]] %}
{{ hostvars[host]['chain'] }} = "{{ hostvars[host]['db_id'] }}"{% if not loop.last %},{% endif %}
{% endfor %}
}

chain_db_name = {
{% for host in groups[group_names[0]] %}
{{ hostvars[host]['chain'] }} = "{{ hostvars[host]['db_name'] }}"{% if not loop.last %},{% endif %}
{% endfor %}
}

chain_db_username = {
{% for host in groups[group_names[0]] %}
{{ hostvars[host]['chain'] }} = "{{ hostvars[host]['db_username'] }}"{% if not loop.last %},{% endif %}
{% endfor %}
}

chain_db_password = {
{% for host in groups[group_names[0]] %}
{{ hostvars[host]['chain'] }} = "{{ hostvars[host]['db_password'] }}"{% if not loop.last %},{% endif %}
{% endfor %}
}

chain_db_instance_class = {
{% for host in groups[group_names[0]] %}
{{ hostvars[host]['chain'] }} = "{{ hostvars[host]['db_instance_class'] }}"{% if not loop.last %},{% endif %}
{% endfor %}
}

chain_db_storage = {
{% for host in groups[group_names[0]] %}
{{ hostvars[host]['chain'] }} = "{{ hostvars[host]['db_storage'] }}"{% if not loop.last %},{% endif %}
{% endfor %}
}

chain_db_storage_type = {
{% for host in groups[group_names[0]] %}
{{ hostvars[host]['chain'] }} = "{{ hostvars[host]['db_storage_type'] }}"{% if not loop.last %},{% endif %}
{% endfor %}
}

chain_db_iops = {
{% for host in groups[group_names[0]] %}
{{ hostvars[host]['chain'] }} = "{{ hostvars[host]['db_iops']|default('0') }}"{% if not loop.last %},{% endif %}
{% endfor %}
}

chain_db_version = {
{% for host in groups[group_names[0]] %}
{{ hostvars[host]['chain'] }} = "{{ hostvars[host]['db_version'] }}"{% if not loop.last %},{% endif %}
{% endfor %}
}
