.DS_Store

# Testing
/ignore.tfvars

# Terraform State
*.terraform*
*terraform.tfstate.d*
*tfplan*

# Sensitive information
/*.privkey
/*.tfvars

# Stack-specific information
/PREFIX

group_vars/*.yml
*.retry
