log.txt

# Terraform State
*.terraform*
*.tfstate
*terraform.tfstate.d*
*tfplan*
roles/main_infra/files/backend.tfvars
roles/main_infra/files/remote-backend-selector.tf
roles/main_infra/files/terraform.tfvars
roles/main_infra/files/hosts.tf
roles/main_infra/files/routing.tf
roles/main_infra/files/provider.tf
*.backup

# Sensitive information
*.privkey
*.tfvars

# Stack-specific information
/PREFIX

group_vars/*
host_vars/*
!host_vars/all.yml.example
!host_vars/blockscout.yml.example
!host_vars/infrastructure.yml.example
!group_vars/all.yml.example
!group_vars/blockscout.yml.example
!group_vars/infrastructure.yml.example
*.retry
*.temp
*.swp
.*.swp

blockscout-*/
roles/main_infra/files-*

hosts
