log.txt

# Terraform State
*.terraform*
*.tfstate
*terraform.tfstate.d*
*tfplan*
*.backup

# Sensitive information
*.privkey
*.tfvars

# Stack-specific information
/PREFIX

group_vars/*
host_vars/*
!host_vars/all.yml.example
!host_vars/blockscout.yml.example
!host_vars/infrastructure.yml.example
!group_vars/all.yml.example
!group_vars/blockscout.yml.example
!group_vars/infrastructure.yml.example
*.retry
*.temp
*.swp
.*.swp

blockscout-*/

hosts

# osx 
.DS_Store
