version: 0.0
os: linux
files:
  - source: .
    destination: /opt/app
hooks:
  ApplicationStop:
    - location: bin/stop.sh
      timeout: 300
  AfterInstall:
    - location: bin/build.sh
  ApplicationStart:
    - location: bin/migrate.sh
      timeout: 300
    - location: bin/restore_dump.sh
      timeout: 300
    - location: bin/start.sh
      timeout: 3600
  ValidateService:
    - location: bin/health_check.sh
      timeout: 3600
