region = "us-east-1"
bucket = "poa-terraform-state"
dynamodb_table = "poa-terraform-lock"
key_name = "sokol-test"
prefix = "sokol"
db_password = "qwerty12345"
db_instance_class = "db.m4.xlarge"
db_storage = "120"
alb_ssl_policy = "ELBSecurityPolicy-2016-08"
alb_certificate_arn = "arn:aws:acm:us-east-1:290379793816:certificate/6d1bab74-fb46-4244-aab2-832bf519ab24"
root_block_size = 120
chains = {
    "sokol" = "https://sokol.poa.network"
}
chain_trace_endpoints = {
    "sokol" = "https://sokol-trace.poa.network"
}
chain_ws_endpoints = {
    "sokol" = "wss://sokol-ws.poa.network/ws"
}
chain_logo = {
    "sokol" = "/images/sokol_logo.svg"
}
chain_css_file = {
    "sokol" = "sokol_variables"
}
chain_check_origin = {
    "sokol" = "['//*.blockscout.com']"
}
chain_coin = {
    "sokol" = "POA"
}
chain_network = {
    "sokol" = "POA Network"
}
chain_subnetwork = {
    "sokol" = "Sokol Testnet"
}