ansible_host: localhost # An address of machine where BlockScout staging will be built
ansible_connection: local # Comment out if your ansible_host is not localhost

chain: poa # Can be not unique. Represents chain name.

regular_servers: 1 #A number of servers that serves both API and WEB requests
web_servers: 0 #A number of servers that serves WEB+WRITE_API requests
api_servers: 0 #A number of servers that serves READ_API requests only
